/* BODY */

body {
    margin: 0;
    background: linear-gradient(to bottom, #e7f1fb, #f8fbff);
    font-family: Georgia, serif;
    color: #1b2a41;
    scroll-behavior: smooth;
}

/* NAVIGATION */

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(10, 30, 60, 0.95);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 12px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
}

.nav a:hover {
    color: #9fd3ff;
}

/* HERO */

.hero {
    height: 100vh;

    background-image:
        linear-gradient(rgba(5,15,35,0.45),
        rgba(5,15,35,0.45)),
        url("https://wallpapercave.com/wp/wp2599597.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO OVERLAY */

.overlay {
    text-align: center;
    color: white;
}

.overlay h1 {
    font-size: 85px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    letter-spacing: 2px;
}

.overlay p {
    font-size: 28px;
    font-style: italic;
}

/* SECTIONS */

.section {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(255,255,255,0.94);
    padding: 45px;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

/* HEADERS */

.section h2 {
    text-align: center;
    color: #295b8e;
    font-size: 40px;
    margin-bottom: 25px;
}

/* TEXT */

.section p {
    font-size: 18px;
    line-height: 1.9;
}

/* IMAGES */

.movie-image {
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

/* VIDEO */

.video-container {
    text-align: center;
    margin-top: 30px;
}

iframe {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border: none;
}

/* LISTS */

ol {
    font-size: 18px;
    line-height: 2;
}

ul {
    margin-top: 10px;
}

/* QUOTE SECTION */

.quote-section {
    margin-top: 70px;
    background: linear-gradient(to right, #1b2a41, #3d6d99);
    color: white;
    text-align: center;
    padding: 70px 30px;
}

.quote-section h2 {
    font-size: 48px;
    font-style: italic;
}

/* FOOTER */

footer {
    background-color: #10253f;
    color: white;
    text-align: center;
    padding: 25px;
    letter-spacing: 2px;
}